body
  background-color: #181b18
  color: white
  padding: 25px
  //margin-right: 400px
  position: relative
  h1.MainHeader
    position: fixed
    filter: blur(2px)
    color: black
    font-family: sans-serif
